@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --color-green: #38AF90;
    --color-white: #fff;
    --color-darkgray: #797979;
    --color-lightgray: #f0f0f0;
    --color-red: #dd7e92;
    --color-black: #383838;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

.container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}

header {
    background-color: var(--color-green);
    height: 90px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    padding: 0 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: var(--color-white);
    font-size: 16px;
    font-weight: 700;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu img {
    height: 62px;
}

.nav-menu-itens {
    display: flex;
    align-items: center;
}

.nav-menu-itens li {
    list-style: none;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 500;
    margin-right: 29px;
    display: none;
}

#news {
    padding: 40px 10px;
}

#news h2{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-darkgray);
    margin-bottom: 8px;
}

.card-news {
    background-color: var(--color-lightgray);
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 12px;
    margin-bottom: 28px;
}

.card-news-header h3 {
    font-size: 16px;
    font-weight: 700;
    color: var(--color-green);
    margin-bottom: 3px;
}

.card-news-header h4 {
    font-size: 12px;
    font-weight: 700;
    color: var(--color-darkgray);
    border-bottom: 1px solid #38AF90;
    padding-bottom: 3px;

}

.card-news-header p {
    font-size: 10px;
    font-weight: 400;
    color: var(--color-green);
    padding-top: 1px;
}

.card-news-body p {
    font-size: 10px;
    font-weight: 400;
    color: var(--color-darkgray);
    padding-top: 12px;
}

.card-news-body a {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-red);
}

.news-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-button button{
    background-color: var(--color-red);
    border-radius: 8px;
    width: 244px;
    height: 67px;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-white);
    border: none;
}

#games {
    background-color: var(--color-lightgray);
    padding: 40px 0;
}

#games h2 {
    color: var(--color-green);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-card {
    width: 100%;
    max-width: 300px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin: 28px 15px 0px 15px;
}

.game-card img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px 8px 0 0;
}

.game-card h3{
    font-size: 18px;
    font-weight: 700;
    color: var(--color-darkgray);
    text-align: center;
    margin-top: 28px;
}

.game-card p{
    font-size: 12px;
    font-weight: 400;
    color: var(--color-darkgray);
    text-align: center;
}

.game-card span{
    font-size: 14px;
    font-weight: 700;
    color: var(--color-green);
}

.customer-review {
    font-size: 36px;
    font-weight: 700;
    color: var(--color-green);
    text-align: center;
    padding: 15px 0;
}

#signup {
    padding: 40px 10px;
}

#signup h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-darkgray);
    text-align: center;
    margin-bottom: 16px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-card {
    background-color: var(--color-lightgray);
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 790px;
    padding: 35px 10px;
}

.customer-id {
    margin-bottom: 20px;
}

.customer-id input {
    width: 100%;
    max-width: 642px;
    height: 50px;
    background-color: var(--color-white);
    color: var(--color-darkgray);
    border: 1px solid var(--color-darkgray);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 22px;
}

.customer-profile {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-darkgray);
}

.newsletter {
    margin: 35px 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-darkgray);
}

.signup-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.submit {
    background-color: var(--color-red);
    color: var(--color-white);
    font-size: 18px;
    font-weight: 700;
    width: 244px;
    height: 67px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
}

.reset {
    background-color: var(--color-white);
    color: var(--color-red);
    font-size: 18px;
    font-weight: 700;
    width: 244px;
    height: 67px;
    border: none;
    border-radius: 8px;
}

footer {
    background-color: var(--color-black);
    display: flex;
    text-align: center;
    padding: 28px 0;
}

.footer-social {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-white);
    margin-bottom: 37px;
    display: flex;
    flex-direction: column;
}

.footer-rights {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-white);
    margin-bottom: 37px;
}

.footer-policy {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
     nav h1 {
        font-size: 24px;
     }
    
     .nav-menu-itens li {
        display:list-item;
    }
   
    #news h2{
        font-size: 36px;
        margin-bottom: 40px;
    }
    
    .card-news {
        padding: 16px 40px;
        margin-bottom: 40px;
    }
    
    .card-news-header h3 {
        font-size: 24px;
    }
    
    .card-news-header h4 {
        font-size: 16px;
    }
    
    .card-news-body p {
        padding-top: 16px;
    }
    
    .card-news-body a {
        padding-top: 7px;
    }
    
    #games {
        padding: 36px 0 70px 0;
    }
    
    #games h2 {
        font-size: 36px;
    }

    .game-card {
        margin: 70px 15px 0px 15px;
    }
    
    #signup h2 {
        font-size: 36px;
        margin-bottom: 40px;
    }
    
    .form-card {
       padding: 52px 75px;
    }
    
    .signup-buttons{
        flex-direction: row;
        justify-content: center;
    }
    
    .submit {
       margin-bottom: 0;
       margin-right: 52px;
    }
    
    footer {
        padding: 0 15px;
        height: 190px;
    }
    
    .footer-social {
        margin-bottom: 0;
    }
    
    .footer-rights {
        margin-bottom: 0px;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

